.masonryGrid {
    column-count: 4;
    column-gap: var(--static-space-16);
    width: 100%;
}

@media (max-width: 1440px) {
    .masonryGrid {
        column-count: 3;
    }
}

@media (max-width: 1024px) {
    .masonryGrid {
        column-count: 2;
    }
}

@media (max-width: 560px) {
    .masonryGrid {
        column-count: 1;
    }
}

.masonryGridItem {
    break-inside: avoid;
    margin-bottom: var(--static-space-16);
}
